<?php
/**
 * The plugin bootstrap file
 *
 * This file is read by WordPress to generate the plugin information in the plugin
 * admin area. This file also includes all of the dependencies used by the plugin,
 * registers the activation and deactivation functions, and defines a function
 * that starts the plugin.
 *
 * @since             1.0.0
 * @package           {{ pascal_case }}
 *
 * @wordpress-plugin
 * Plugin Name:       {{ extension_name }}
 * Description:       {{ extension_description }}
 * Version:           1.0.0
 * Author:            {{ author }}
 * Text Domain:       {{ kebab_case }}
 * Domain Path:       /languages
 */

// If this file is called directly, abort.
if ( ! defined( 'WPINC' ) ) {
	die;
}

/**
 * Currently plugin version.
 * Start at version 1.0.0 and use SemVer - https://semver.org
 * Rename this for your plugin and update it as you release new versions.
 */
define( '{{ upper_snake_case }}_VERSION', '1.0.0' );

/**
 * The code that runs during plugin activation.
 * This action is documented in includes/class-{{ kebab_case }}-activator.php
 */
function activate_{{ snake_case }}() {
	require_once plugin_dir_path( __FILE__ ) . 'includes/class-{{ kebab_case }}-activator.php';
	{{ pascal_case }}_Activator::activate();
}

/**
 * The code that runs during plugin deactivation.
 * This action is documented in includes/class-{{ kebab_case }}-deactivator.php
 */
function deactivate_{{ snake_case }}() {
	require_once plugin_dir_path( __FILE__ ) . 'includes/class-{{ kebab_case }}-deactivator.php';
	{{ pascal_case }}_Deactivator::deactivate();
}

register_activation_hook( __FILE__, 'activate_{{ snake_case }}' );
register_deactivation_hook( __FILE__, 'deactivate_{{ snake_case }}' );

/**
 * The core plugin class that is used to define internationalization,
 * admin-specific hooks, and public-facing site hooks.
 */
require plugin_dir_path( __FILE__ ) . 'includes/class-{{ kebab_case }}.php';

/**
 * Display an error notice for missing WooCommerce.
 */
function display_woocommerce_missing_notice() {
	$message = 'Your WooCommerce Extension requires WooCommerce to be installed and active.';
	echo sprintf( '<div class="notice notice-error"><p>%s</p></div>', esc_html( $message ) );
}

/**
 * Begins execution of the plugin.
 *
 * Since everything within the plugin is registered via hooks,
 * then kicking off the plugin from this point in the file does
 * not affect the page life cycle.
 *
 * @since    1.0.0
 */
function init_{{ snake_case }}() {
	if ( class_exists( 'WooCommerce' ) ) {
		$plugin = new {{ pascal_case }}();
		$plugin->run();
	} else {
		require_once ABSPATH . 'wp-admin/includes/plugin.php';

		// Display an error notice if WooCommerce is not active.
		add_action( 'admin_notices', 'display_woocommerce_missing_notice' );
		deactivate_plugins( plugin_basename( __FILE__ ) );
	}
}

add_action( 'init', 'init_{{ snake_case }}' );
